In [16]:
import pandas as pd
import numpy as np
import mysql.connector as connection

host="localhost"
database ='difoca'
user="root"
passwd="root1"

ata = "ATA23.002"
año = "2023"
carpeta_ata = "C:/Users/difoca05/OneDrive - Ministerio de Educación/ASISTENCIA TECNICA (ATA)/"+año+"/"+ata

df1 = pd.read_excel(carpeta_ata+"/"+ata+".xlsx", sheet_name='base_datos')
df2 = pd.read_excel(carpeta_ata+"/"+ata+".xlsx", sheet_name='iged_convocados')

df1["Celular"].fillna('0', inplace=True)
df1["iged_cod"].fillna('0', inplace=True)

df1["DNI"]= df1['DNI'].astype(str).str.zfill(8)
df1["Celular"]=df1["Celular"].astype(int)
df1["Celular"]= df1['Celular'].astype(str)

df1["iged_cod"]=df1["iged_cod"].astype(int)
df1["iged_cod"]= df1['iged_cod'].astype(str).str.zfill(6)
df1["iged_cod"] = np.where(df1["iged_cod"] == "000000" , "", df1["iged_cod"])

df1["Celular"] = np.where(df1["Celular"] == "0" , "", df1["Celular"])

df1["fecha"] = pd.to_datetime(df1["fecha"]).dt.date
df1['fecha'] = df1['fecha'].astype(str)

df1['pobj'] = df1['pobj'].astype(str)
df1['otro_cargo'] = df1['otro_cargo'].astype(str)
df1['inst'] = df1['inst'].astype(str)
df1['categoria'] = df1['categoria'].astype(str)
df1['cargo'] = df1['cargo'].astype(str)
df1['Correo electrónico'] = df1['Correo electrónico'].astype(str)
df1['nombre'] = df1['nombre'].astype(str)

df1.fillna('', inplace=True)
df1['nombre']=df1['nombre'].str.replace("'", "")
df1["inst"]=df1["inst"].str.replace("'", "")

df2["COD_IGED"]= df2['COD_IGED'].astype(str).str.zfill(6)
df2.fillna('', inplace=True)
df2['KPI'] = df2['KPI'].astype(str)

In [17]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    query = "delete from ata_implementacion where cod_ata = '"+ata+"'"
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [18]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    query = "delete from ata_planificador_iged where cod_ata = '"+ata+"'"
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [19]:
con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
cur=con.cursor()

for (rows,rs) in df1.iterrows():
        x1 = ata #codAata
        x2 = rs[19] #sesion
        x3 = rs[0] #fecha
        x4 = rs[1] #dni
        x5 = rs[2] #nombre
        x6 = rs[3] #correo
        x7 = rs[4] #celular
        x8 = rs[5] #tipo inst
        x9 = rs[11] # inst
        x10 = rs[13] # cod iged
        x11 = rs[9] # region
        x12 = rs[7] # area
        x13 = rs[8] # cargo
        x14 = rs[10] # otro cargo
        x15 = rs[20] # categoria
        x16 = rs[22] #subcategoria
        x17 = rs[21] # pub obj
        x18 = rs[14] # p1
        x19 = rs[15]#p2
        x20 = rs[16] #p3
        x21 = rs[17] #p4
        x22 = rs[18] #p5
        query = "insert into ata_implementacion (cod_ata, sesion, fecha, dni, nombres, email, celular, tipo_inst, otra_inst, cod_iged, region_otra_inst, area, perfil, otro_cargo, categoria, subcategoria, po, p01, p02, p03, p04, p05) VALUES  ('"+x1+"', '"+x2+"', '"+x3+"', '"+x4+"', '"+x5+"', '"+x6+"', '"+x7+"', '"+x8+"', '"+x9+"', '"+x10+"', '"+x11+"', '"+x12+"', '"+x13+"', '"+x14+"', '"+x15+"', '"+x16+"', '"+x17+"', '"+x18+"', '"+x19+"', '"+x20+"', '"+x21+"', '"+x21+"')"
        cur.execute(query)
con.commit()
con.close()

In [20]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()

    for (rows,rs) in df2.iterrows():
        x1 = ata
        x2 = rs[0]
        x3 = rs[5]
        query = "insert into ata_planificador_iged (cod_ata, cod_iged, kpi) VALUES ('"+x1+"', '"+x2+"', '"+x3+"')"
        cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))