**MURO DE INICIATIVAS - AGREGAR NUEVOS REGISTROS**


1. Indicar el Excel, la Hoja y el año

In [1]:
excel = "C:/Users/difoca05/OneDrive - Ministerio de Educación/CoP - Banco de Iniciativas/insumos/muro_iniciat.xlsx"
hoja = "Seguimiento a la participación "

año='2022'

In [2]:
if año == '2022':
    id_actividad = 25
elif año == '2023':
    id_actividad = 107
else:
    id_actividad = 108

In [3]:
import pandas as pd

df=pd.read_excel(excel, sheet_name=hoja)
df

,N°,Apellidos y Nombres,DNI,COMPARTE EN MURO,COMENTA EN MURO,FECHA
0,1,"VASQUEZ VILLANUEVA, ROSA",26688908,1,0,2022-11-08
1,4,"TELLO ZAMORA, MICHAEL ANTONY",907781,1,0,2022-11-15
2,5,"QUISPE ORTIZ DE ORUE, SUSANA",24364341,1,0,2022-11-15
3,6,"QUISPE GAMBOA, JUAN PABLO",10504394,1,0,2022-11-15
4,7,"JUAREZ ARBOLEDA, JOSE PASCUAL",10035652,1,0,2022-11-17
5,8,"APAZA CASTILLO, HILDA NICOLASA",1317990,1,0,2022-11-18
6,9,"QUISPE PALOMINO, YANETH",9258893,0,1,2022-11-18
7,10,"MORENO ANDAHUA, CRISPULO",31823237,1,0,2022-11-18
8,11,"CALDERON CORNEJO, MARIANA ELIZABETH",231695,2,0,2022-11-19
9,12,"ESPINOZA DIOSES, GRETY DEL PILAR",227604,1,0,2022-11-19

In [4]:
df=df.astype(str)

In [5]:
df["DNI"]= df['DNI'].astype(str).str.zfill(8)

In [6]:
df["id_act"]=id_actividad

In [7]:
df1=df[["id_act", "FECHA", "DNI", "COMPARTE EN MURO", "COMENTA EN MURO"]]

In [8]:
df1

   id_act       FECHA       DNI COMPARTE EN MURO COMENTA EN MURO
0      25  2022-11-08  26688908                1               0
1      25  2022-11-15  00907781                1               0
2      25  2022-11-15  24364341                1               0
3      25  2022-11-15  10504394                1               0
4      25  2022-11-17  10035652                1               0
5      25  2022-11-18  01317990                1               0
6      25  2022-11-18  09258893                0               1
7      25  2022-11-18  31823237                1               0
8      25  2022-11-19  00231695                2               0
9      25  2022-11-19  00227604                1               0

In [9]:
import mysql.connector as connection
import warnings
warnings.filterwarnings('ignore')

server = {"h":"localhost","d":'difoca',"u":"root","p":"root1"}

In [10]:
sql = ''
for (index,rs) in df1.iterrows():
    vals = "','".join([str(xi) for xi in df1.values.tolist()[index]])
    text = "('" + vals + "'),"
    sql= sql + text
query = sql[:-1]
query="insert into cop_evento_asistencia (id_actividad, fecha_asist, dni, comparte_muro, comenta_muro) values "+query

In [11]:
print(query)

insert into cop_evento_asistencia (id_actividad, fecha_asist, dni, comparte_muro, comenta_muro) values ('25','2022-11-08','26688908','1','0'),('25','2022-11-15','00907781','1','0'),('25','2022-11-15','24364341','1','0'),('25','2022-11-15','10504394','1','0'),('25','2022-11-17','10035652','1','0'),('25','2022-11-18','01317990','1','0'),('25','2022-11-18','09258893','0','1'),('25','2022-11-18','31823237','1','0'),('25','2022-11-19','00231695','2','0'),('25','2022-11-19','00227604','1','0')

In [12]:
con = connection.connect(host=server["h"], database =server["d"],user=server["u"], passwd=server["p"],use_pure=True)
cur=con.cursor()
cur.execute(query)
con.commit()
con.close()