In [16]:
fecha_evento = '2022-11-03'

In [17]:
import Conexion_mysql as cnx

dfx1=cnx.sql_df("cop_cronograma_actividades")
dfx1["FECHA"]=dfx1["FECHA"].astype(str)
dfx1[dfx1["FECHA"]==fecha_evento]

Empty DataFrame
Columns: [ACTIVIDAD, NOMBRE_ACTIVIDAD, FECHA, SEGUIMIENTO_ACTIVIDAD, ID_ACTIVIDAD, nro_conectados]
Index: []

In [18]:
actividad = "EVENTO INTERCAMBIO"
nombre_actividad = "Gesti√≥n Local para la mejora del servicio educativo"
nro_conectados = "89"
id_activdiad=dfx1["ID_ACTIVIDAD"].max()+1
id_activdiad=id_activdiad.astype(str)

In [19]:
id_activdiad

'109'

In [20]:
#insert into

query = "insert into cop_cronograma_actividades values ('" + actividad.upper() + "', '" + nombre_actividad.upper() + "', '" + fecha_evento+ "', '', '" + id_activdiad + "', '" + nro_conectados + "')"
cnx.query(query)