In [9]:
import pandas as pd
import numpy as np
import mysql.connector as connection

host="localhost"
database ='difoca'
user="root"
passwd="root1"

cop = "BANCO_DE_INICIATIVAS"
año = '2023'
periodo ="02. FEB"
carpeta_cop = "C:/Users/difoca05/OneDrive - Ministerio de Educación/COMUNIDAD DE PRACTICA (COP)/"+año+"/BANCO"
#              C:\Users\difoca05\OneDrive - Ministerio de Educación\COMUNIDAD DE PRACTICA (COP)\2023\BANCO
df2 = pd.read_excel(carpeta_cop+"/"+cop+"_"+año+"_"+periodo+".xlsx", sheet_name='cop_banco_iniciativas_estadio')
df3 = pd.read_excel(carpeta_cop+"/"+cop+"_"+año+"_"+periodo+".xlsx", sheet_name='cop_banco_iniciativas_iged')
df4 = pd.read_excel(carpeta_cop+"/"+cop+"_"+año+"_"+periodo+".xlsx", sheet_name='cop_ruta_fortalecimiento')

df2.fillna('', inplace=True)

df2["id"]=df2["id"].astype(int)
df2["cod_ini"]= df2['cod_ini'].astype(str)

df2["año"]= df2["año"].astype(int)
df2["año"]= df2['año'].astype(str)

df2["estadio"]= df2['estadio'].astype(str)
df2["vigencia"]= df2['vigencia'].astype(str)
df2["observacion"]= df2['observacion'].astype(str)

df3.fillna('', inplace=True)

df3["id"]= df3["id"].astype(int)
df3["cod_ini"]= df3['cod_ini'].astype(str)

df3["cod_iged"] = df3["cod_iged"].astype(int)
df3["cod_iged"] = df3['cod_iged'].astype(str).str.zfill(6)
df3["cod_iged"] = np.where(df3["cod_iged"] == "000000" , "", df3["cod_iged"])

df4["cod_ini"]= df4['cod_ini'].astype(str)
df4["año"]= df4["año"].astype(int)
df4["año"]= df4['año'].astype(str)
df4["periodo"]= df4['periodo'].astype(str)

In [10]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    query = "delete from cop_banco_iniciativas_estadio where año = '"+año+"' and periodo = '"+periodo+"'"
    #query = "delete from cop_banco_iniciativas_estadio where año = '2022' and periodo = '12. DIC'"
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [11]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()

    for (rows,rs) in df2.iterrows():
        x1 = rs[0]
        x2 = rs[1]
        x3 = año
        x4 = periodo
        x5 = rs[4]
        x6 = rs[5]
        x7 = rs[6]
        query = "insert into cop_banco_iniciativas_estadio (cod_ini, año, periodo, estadio, vigencia, observacion) VALUES ('"+x2+"', '"+x3+"', '"+x4+"', '"+x5+"', '"+x6+"', '"+x7+"')"
        cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [12]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    query = "delete from cop_banco_iniciativas_iged where año = '"+año+"' and periodo = '"+periodo+"'"
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [13]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()

    for (rows,rs) in df3.iterrows():
        x1 = rs[1]
        x2 = rs[2]
        x3 = año
        x4 = periodo
        query = "insert into cop_banco_iniciativas_iged (cod_ini, cod_iged, año, periodo) VALUES ('"+x1+"', '"+x2+"', '"+x3+"', '"+x4+"')"
        cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [14]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    query = "delete from cop_ruta_fortalecimiento where año = '"+año+"' and periodo = '"+periodo+"'"
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [15]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()

    for (rows,rs) in df4.iterrows():
        x1 = rs[0]
        x2 = año
        x3 = periodo
        query = "insert into cop_ruta_fortalecimiento (cod_ini, año, periodo) VALUES ('"+x1+"', '"+x2+"', '"+x3+"')"
        cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))