In [106]:
import pandas as pd
import numpy as np
import mysql.connector as connection
import openpyxl

aprob_sql = "si"
df1 = pd.read_excel("C:/Users/difoca05/Downloads/BBDD CONSOLIDADO 2015-2022 Jesus.xlsx", sheet_name="CURSOS")
df2 = pd.read_excel("C:/Users/difoca05/Downloads/BBDD CONSOLIDADO 2015-2022 Jesus.xlsx", sheet_name="BBDD2")


df1.fillna('', inplace=True)
df2.fillna('', inplace=True)
df1 = df1.astype(str)
df2 = df2.astype(str)

host="localhost"
database ='difoca'
user="root"
passwd="root1"

In [107]:
df2

,N°,CODIGO,AULA,GRUPO,TIPO DOCUMENTO,DNI,APELLIDOS,NOMBRES,SEXO,FECHA DE NACIMIENTO,...,FECHA ÚLTIMO INGRESO A PLATAFORMA,DÍAS AUSENCIA EN PLATAFORMA,INGRESO AL CURSO,COMPROMISO,PROMEDIO FINAL GENERAL,PROMEDIO FINAL - Condición,% AVANCE DEL CURSO PARA CERTIFICACIÓN,ESTADO DEL PARTICIPANTE EN EL CURSO,SITUACIÓN DEL PARTICIPANTE,RETIRADOS
0,5545,201501,,,DNI,10000112,CARLOS CAHUANA HERRERA,,MASCULINO,1975-03-10 00:00:00,...,,,,1.0,,,1.0,Activo,Aprobado o Certificado,
1,5546,201501,,,DNI,10000113,WILLY ANGEL QUISPE VILLAFUERTE,,MASCULINO,0/01/1900,...,,,,1.0,,,1.0,Activo,Aprobado o Certificado,
2,5547,201501,,,DNI,10000114,RAFAEL DAVID CAMAYO SEDANO,,MASCULINO,1962-01-05 00:00:00,...,,,,1.0,,,1.0,Activo,Aprobado o Certificado,
3,5548,201501,,,DNI,10000115,FILEMÓN ARMAS CERRÓN,,FEMENINO,1975-03-25 00:00:00,...,,,,1.0,,,1.0,Activo,Aprobado o Certificado,
4,5549,201501,,,DNI,10000116,JUAN HERMINIO HUARCAYA ROMERO,,MASCULINO,1975-03-08 00:00:00,...,,,,1.0,,,1.0,Activo,Aprobado o Certificado,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34936,216,202220,0,0,DNI,42823817,ZEVALLOS GALARZA,CHRISTIAN JOEL,MASCULINO,1985-01-01 00:00:00,...,,,,,,,0.0,Inactivo,En curso,
34937,217,202220,0,0,DNI,17452754,ZEVALLOS NEVADO,WILHELM EDWARD,MASCULINO,1977-10-28 00:00:00,...,,,,,,,0.0,Inactivo,En curso,
34938,218,202220,0,0,DNI,41165138,ZEVALLOS PANTA,JESUS ARMANDO,MASCULINO,1980-06-10 00:00:00,...,,,,,,,0.0,Inactivo,En curso,
34939,219,202220,0,0,DNI,02655884,ZUMAETA PACHERRES,JORGE,MASCULINO,1966-10-20 00:00:00,...,,,,,,,0.0,Inactivo,En curso,
34940,220,202220,0,0,DNI,46733670,ZURITA MARCOS,HELLEN SOLEDAD,FEMENINO,1990-02-22 00:00:00,...,,,,,,,0.0,Inactivo,En curso,

In [108]:
def sql_eliminar1 (aprob):
    if aprob == "si":
        try:
            con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
            cur=con.cursor()
            query = "delete from pf_cursos"
            cur.execute(query)
            con.commit()
            con.close()
        except Exception as e:
            con.close()
            print(str(e))

sql_eliminar1 (aprob_sql)

In [109]:
#SQL Insert1
def sql_insert1 (aprob):
    if aprob == "si":
        try:
            con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
            cur=con.cursor()

            for (rows,rs) in df1.iterrows():
                i0 = rs[0]
                i1 = rs[1]
                i2 = rs[2]
                i3 = rs[3]
                i4 = rs[4]
                i5 = rs[5]
                i6 = rs[6]
                i7 = rs[7]
                i8 = rs[8]
                i9 = rs[9]
                i10 = rs[10]
                i11 = rs[11]

                query = "insert into pf_cursos values ('"+i0+"','"+i1+"', '"+i2+"', '"+i3+"', '"+i4+"', '"+i5+"', '"+i6+"', '"+i7+"', '"+i8+"', '"+i9+"', '"+i10+"', '"+i11+"')"
                cur.execute(query)
            con.commit()
            con.close() #close the connection
        except Exception as e:
            con.close()
            print(str(e))

sql_insert1 (aprob_sql)

In [110]:
df3 = pd.read_excel("C:/Users/difoca05/Documents/Maestros/cod_iged3.xlsx")
df3["CODIGO_R"]= df3['CODIGO_R'].astype(str).str.zfill(6)

df2 = df2.merge(df3, on="NOMBRE IGED", how="left")
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34941 entries, 0 to 34940
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   N°                                     34941 non-null  object
 1   CODIGO                                 34941 non-null  object
 2   AULA                                   34941 non-null  object
 3   GRUPO                                  34941 non-null  object
 4   TIPO DOCUMENTO                         34941 non-null  object
 5   DNI                                    34941 non-null  object
 6   APELLIDOS                              34941 non-null  object
 7   NOMBRES                                34941 non-null  object
 8   SEXO                                   34941 non-null  object
 9   FECHA DE NACIMIENTO                    34941 non-null  object
 10  TELÉFONO                               34941 non-null  object
 11  CORREO ELECTRÓNICO                     34941 non-null  object
 12  REGIÓN                                 34941 non-null  object
 13  CÓDIGO DE IGED                         34941 non-null  object
 14  TIPO IGED                              34941 non-null  object
 15  NOMBRE IGED                            34941 non-null  object
 16  ÁMBITO                                 34941 non-null  object
 17  NIVEL DEL PUESTO                       34941 non-null  object
 18  NOMBRE DEL PUESTO                      34941 non-null  object
 19  RÉGIMEN LABORAL                        34941 non-null  object
 20  PÚBLICO OBJETIVO                       34941 non-null  object
 21  FECHA ÚLTIMO INGRESO A PLATAFORMA      34941 non-null  object
 22  DÍAS AUSENCIA EN PLATAFORMA            34941 non-null  object
 23  INGRESO AL CURSO                       34941 non-null  object
 24  COMPROMISO                             34941 non-null  object
 25  PROMEDIO FINAL GENERAL                 34941 non-null  object
 26  PROMEDIO FINAL - Condición             34941 non-null  object
 27  % AVANCE DEL CURSO PARA CERTIFICACIÓN  34941 non-null  object
 28  ESTADO DEL PARTICIPANTE EN EL CURSO    34941 non-null  object
 29  SITUACIÓN DEL PARTICIPANTE             34941 non-null  object
 30  RETIRADOS                              34941 non-null  object
 31  CODIGO_R                               34848 non-null  object
dtypes: object(32)
memory usage: 8.8+ MB

In [111]:
def sql_eliminar2 (aprob):
    if aprob == "si":
        try:
            con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
            cur=con.cursor()
            query = "delete from pf_bbdd"
            cur.execute(query)
            con.commit()
            con.close()
        except Exception as e:
            con.close()
            print(str(e))

sql_eliminar2 (aprob_sql)

In [112]:
df2["FECHA DE NACIMIENTO"] = np.where(df2["FECHA DE NACIMIENTO"]=="0/01/1900", "", df2["FECHA DE NACIMIENTO"])


df2["FECHA DE NACIMIENTO"] = pd.to_datetime(df2["FECHA DE NACIMIENTO"]).dt.date
df2['FECHA DE NACIMIENTO'] = df2['FECHA DE NACIMIENTO'].astype(str)

df2['APELLIDOS'] = df2['APELLIDOS'].str.replace("'", "")
df2['NOMBRES'] = df2['NOMBRES'].str.replace("'", "")

df2 = df2.astype(str)
df2

,N°,CODIGO,AULA,GRUPO,TIPO DOCUMENTO,DNI,APELLIDOS,NOMBRES,SEXO,FECHA DE NACIMIENTO,...,DÍAS AUSENCIA EN PLATAFORMA,INGRESO AL CURSO,COMPROMISO,PROMEDIO FINAL GENERAL,PROMEDIO FINAL - Condición,% AVANCE DEL CURSO PARA CERTIFICACIÓN,ESTADO DEL PARTICIPANTE EN EL CURSO,SITUACIÓN DEL PARTICIPANTE,RETIRADOS,CODIGO_R
0,5545,201501,,,DNI,10000112,CARLOS CAHUANA HERRERA,,MASCULINO,1975-03-10,...,,,1.0,,,1.0,Activo,Aprobado o Certificado,,090004
1,5546,201501,,,DNI,10000113,WILLY ANGEL QUISPE VILLAFUERTE,,MASCULINO,NaT,...,,,1.0,,,1.0,Activo,Aprobado o Certificado,,090004
2,5547,201501,,,DNI,10000114,RAFAEL DAVID CAMAYO SEDANO,,MASCULINO,1962-01-05,...,,,1.0,,,1.0,Activo,Aprobado o Certificado,,090007
3,5548,201501,,,DNI,10000115,FILEMÓN ARMAS CERRÓN,,FEMENINO,1975-03-25,...,,,1.0,,,1.0,Activo,Aprobado o Certificado,,090007
4,5549,201501,,,DNI,10000116,JUAN HERMINIO HUARCAYA ROMERO,,MASCULINO,1975-03-08,...,,,1.0,,,1.0,Activo,Aprobado o Certificado,,090006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34936,216,202220,0,0,DNI,42823817,ZEVALLOS GALARZA,CHRISTIAN JOEL,MASCULINO,1985-01-01,...,,,,,,0.0,Inactivo,En curso,,100003
34937,217,202220,0,0,DNI,17452754,ZEVALLOS NEVADO,WILHELM EDWARD,MASCULINO,1977-10-28,...,,,,,,0.0,Inactivo,En curso,,140002
34938,218,202220,0,0,DNI,41165138,ZEVALLOS PANTA,JESUS ARMANDO,MASCULINO,1980-06-10,...,,,,,,0.0,Inactivo,En curso,,200002
34939,219,202220,0,0,DNI,02655884,ZUMAETA PACHERRES,JORGE,MASCULINO,1966-10-20,...,,,,,,0.0,Inactivo,En curso,,200000
34940,220,202220,0,0,DNI,46733670,ZURITA MARCOS,HELLEN SOLEDAD,FEMENINO,1990-02-22,...,,,,,,0.0,Inactivo,En curso,,120001

In [113]:




def sql_insert2 (aprob):
    if aprob == "si":
        try:
            con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
            cur=con.cursor()

            for (rows,rs) in df2.iterrows():
                i0 = rs[1]
                i1 = rs[5]
                i2 = rs[6]
                i3 = rs[7]
                i4 = rs[8]
                i5 = rs[9]
                i6 = rs[10]
                i7 = rs[11]
                i8 = rs[31]
                i9 = rs[17]
                i10 = rs[18]
                i11 = rs[19]
                i12 = rs[20]
                i13 = rs[24]
                i14 = rs[25]
                i15 = rs[26]
                i16 = rs[27]
                i17 = rs[28]
                i18 = rs[29]
                i19 = rs[30]

                query = "insert into pf_bbdd values ('"+i0+"','"+i1+"', '"+i2+"', '"+i3+"', '"+i4+"', '"+i5+"', '"+i6+"', '"+i7+"', '"+i8+"', '"+i9+"', '"+i10+"', '"+i11+"', '"+i12+"', '"+i13+"', '"+i14+"', '"+i15+"', '"+i16+"', '"+i17+"', '"+i18+"', '"+i19+"')"
                cur.execute(query)
            con.commit()
            con.close() #close the connection
        except Exception as e:
            con.close()
            print(str(e))

sql_insert2 (aprob_sql)