In [19]:
import mysql.connector as connection
import pandas as pd
# import warnings
# warnings.filterwarnings('ignore')
server = {"h":"localhost","d":'difoca',"u":"root","p":"root1"}

In [24]:
list=['10', 'a10', 'b10']

In [25]:
con = connection.connect(host=server["h"], database =server["d"],user=server["u"], passwd=server["p"],use_pure=True)
cur=con.cursor()
cur.callproc('proc_prueba3', list)
con.commit()
cur.close()
con.close()

In [3]:
import pandas as pd
import Conexion_mysql as cnx

var=['3']
col=['codigo', 'dre', 'ugel']
df=cnx.procedure2("proc_prueba4", var,col)
df

  codigo dre ugel
0      3  a3   b3
1      3  a3   b3
2      3  a3   b3
3      3  a3   b3
4      3  a3   b3
5      3  a3   b3
6      3  a3   b3
7      3  a3   b3
8      3  a3   b3
9      3  a3   b3