In [1]:
import pandas as pd
import numpy as np
import mysql.connector as connection

host="localhost"
database ='difoca'
user="root"
passwd="root1"

carpeta = "C:/Users/difoca05/OneDrive - Ministerio de Educación/COMUNIDAD DE PRACTICA (COP)"
excel = 'BANCO_DE_INICIATIVAS_MAESTRO_INI'
hoja ="cop_banco_iniciativas_estadio"
bd_sql='cop_banco_iniciativas_estadio'
encabezado_llave='ID_ACTIVIDAD'
llave='98801'
values='(cod_ini, año, periodo, estadio, vigencia, observacion)'

df1 = pd.read_excel(carpeta+"/"+excel+".xlsx", sheet_name=hoja)

df1["año"]=df1["año"].astype(int)
df1["año"]=df1["año"].astype(str)
#df1["DNI"]= df1['DNI'].astype(str).str.zfill(8)

#df1["Marca temporal"] = pd.to_datetime(df1["Marca temporal"]).dt.date
#df1['Marca temporal'] = df1['Marca temporal'].astype(str)

In [ ]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    query = "truncate table "+bd_sql
    #query = "delete from "+bd_sql+" where "+encabezado_llave+" = '"+llave+"'"
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [ ]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()

    for (rows,rs) in df1.iterrows():
        x1 = rs[1]
        x2 = rs[2]
        x3 = rs[3]
        x4 = rs[4]
        x5 = rs[5]
        x6 = rs[6]
        query = "insert into "+bd_sql+" "+values+" VALUES ('"+x1+"', '"+x2+"', '"+x3+"', '"+x4+"', '"+x5+"', '"+x6+"')"
        cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))