In [17]:
import pandas as pd
import numpy as np
import mysql.connector as connection

host="localhost"
database ='difoca'
user="root"
passwd="root1"

carpeta = "C:/Users/difoca05/OneDrive - Ministerio de Educación/Escritorio/ANDY ANTONIO/02.FEBRERO/20.02"
excel = 'Libro2'
hoja ="cop_banco_iniciativas_iged"
bd_sql='cop_banco_iniciativas_iged'
encabezado_llave='año'
llave='2022'
values='(cod_ini, cod_iged, año, periodo)'

df1 = pd.read_excel(carpeta+"/"+excel+".xlsx", sheet_name=hoja) 

df1.fillna('', inplace=True)

df1["cod_ini"]=df1["cod_ini"].astype(str)

df1["cod_iged"] = df1["cod_iged"].astype(int)
df1["cod_iged"] = df1['cod_iged'].astype(str).str.zfill(6)
df1["cod_iged"] = np.where(df1["cod_iged"] == "000000" , "", df1["cod_iged"])

#df1["dni"]=df1["dni"].astype(int)
#df1["dni"]= df1['dni'].astype(str).str.zfill(8)

df1["año"]=df1["año"].astype(str)
df1["periodo"]=df1["periodo"].astype(str)
#df1["test_01"]=df1["test_01"].astype(str)
#df1["promedio"]=df1["promedio"].astype(float)
#df1["promedio"]=df1["promedio"].astype(str)


#df1["Marca temporal"] = pd.to_datetime(df1["Marca temporal"]).dt.date
#df1['Marca temporal'] = df1['Marca temporal'].astype(str)

In [18]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    #query = "delete from "+bd_sql+" where "+encabezado_llave+" = '"+llave+"'"
    query = "truncate "+bd_sql
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [19]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()

    for (rows,rs) in df1.iterrows():
        x1 = rs[1]
        x2 = rs[2]
        x3 = rs[3]
        x4 = rs[4]
        query = "insert into "+bd_sql+" "+values+" VALUES ('"+x1+"', '"+x2+"', '"+x3+"', '"+x4+"')"
        cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))